<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @child.birthday %>
</p>

<p>
  <strong>Schedule:</strong>
    <% @child.schedules.each do |schedule| %>
      <p><%= schedule.name %></p>
    <% end %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |

