<p>
  <h4>Child Info.</h4>     
  <%=link_to 'new attendance', new_child_attendance_path(@child) %>
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>First name</th> 
        <th>Last name</th> 
        <th>Date of Birth</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= best_in_place @child, :first_name %></td>
        <td><%= best_in_place @child, :last_name %></td>
        <td><%= best_in_place @child, :birthday %></td>
     
        <% @child.schedules.each do |schedule| %>
          <td><%= schedule.name %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div><br>

<%= render 'shared/child_data_table' %>

<%= link_to 'Edit', edit_child_path(@child) %> |

