<h3>Child Info.</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>First name</th> 
        <th>Last name</th> 
        <th>Age</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @child.first_name %></td>
        <td><%= @child.last_name %></td>
        <td><%= time_ago_in_words(@child.birthday) %></td>
     
  
    <% @child.schedules.each do |schedule| %>
      <td><%= schedule.name %></td>
    <% end %>

      </tr>
    </tbody>
  </table>
</div>




<%= link_to 'Edit', edit_child_path(@child) %> |

