<div class="panel panel-info">
   <div class="panel-heading">
      <h3 class="panel-title">Parent Name: <%= link_to parent_full_name(@child.parent), parent_path(@child.parent) %></h3>
  </div>
</div>

<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Child Information and Attendance Records</h3>
  </div>
</div>
   
  <%=link_to 'new attendance', new_child_attendance_path(@child) %> 


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= best_in_place @child, :first_name %></td>
        <td><%= best_in_place @child, :last_name %></td>
        <td><%= best_in_place @child, :birthday, type: :date %></td>
        <td><%= age(@child.birthday) %></td>
     
        <% @child.schedules.each do |schedule| %>
          <td><%= schedule.name %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div><br>

<%= render 'shared/child_data_table' %>



