<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Children</h3>
  </div>
</div>

  <div class="table-responsive">
    <table class="table table-striped schedule">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Birthday</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Schedule</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @parent.children.each do |child| %>
          <tr>
            <td><%= link_to child_full_name(child), child_path(child) %></td>
            <td><%= child.birthday %></td>
            <td><%= age(child.birthday) %></td>
            <td><%= child.gender %></td> 
          <td>
            <% child.schedules.each do |schedule| %>
              <%= schedule.name %>
            <% end %>
          </td>
           <td><%= link_to 'Delete Child', child, method: :delete, data: { confirm: 'Are you sure you want to delete this child?' } %></td>
        <% end %>
        </tr>
        </tbody>
    </table>
  </div>
