<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @day.child_id %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @day.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @day.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @day.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @day.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @day.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @day.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @day.sunday %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
