<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title registrationtag">Forgot your password?</h3>
  </div>
</div>

<div class='well well-lg field_size'>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
