
  <div class="nested-fields">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= link_to_remove_association "remove child", f %>

    <%= f.simple_fields_for :days do |day| %>
      <%= render 'day_fields', f: day %>
      <%= link_to_add_association 'add day', f, :days %>
    <% end %>
  </div>





