
  <fieldset class="nested-fields">

    <%= f.input_field :first_name, :placeholder => 'Child First Name' %>
    <%= f.input_field :last_name, :placeholder => 'Child Last Name' %>
    <%= f.input_field :birthday, :as => :datepicker, :placeholder => 'Child Birth Day' %>

    <%= f.association :schedules, input_html: {class: 'field'} %>

    <p><%= link_to_remove_association "remove child", f %></p>
</fieldset>

