
  <fieldset class="nested-fields">

    <%= f.input :first_name, maxlength: 30 %>
    <%= f.input :last_name, maxlength: 30 %>
    <%= f.input :birthday %>
    <p><%= link_to_remove_association "remove child", f %></p>

  <%= f.association :schedules %>

</fieldset>

