
  <fieldset class="nested-fields">

    <%= f.input :first_name, placeholder: 'Child First Name' %></br>
    <%= f.input :last_name, placeholder: 'Child Last Name' %></br>
    <%= f.input :gender, collection: [:Male, :Female], prompt: true %></br>
    <%= f.input :birthday, input_html: {class: 'datepicker'} %></br>

    <%= f.association :schedules, input_html: {class: 'field'} %>

    <p><%= link_to_remove_association "remove child", f %></p>
</fieldset>

  