<%= simple_form_for @parent do |f| %>
<%= render 'errors' %>
  <fieldset>
    <%= f.input :first_name, maxlength: 30 %>
    <%= f.input :last_name, maxlength: 30 %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zipcode %>
    <%= f.input :phone %>
  </fieldset>

  <h3>Add Child</h3>

  <%= f.simple_fields_for :children do |child| %>
    <%= render 'child_fields', f: child %>
    <div class="links">
      <p><%= link_to_add_association 'add child', f, :children %></p>
    </div> 
  <% end %>

  <div class="actions">
      <%= f.submit %>
  </div>

<% end %>
