<%= simple_form_for @parent, input_html: { class: "form-horizontal" } do |f| %>
<%= render 'errors' %>
   <div class="form-group center_div">
      <%= f.input :first_name, input_html: {class: 'field'} %>
      <%= f.input :last_name, input_html: {class: 'field'} %>
      <%= f.input :address, input_html: {class: 'field'} %>
      <%= f.input :city, input_html: {class: 'field'} %>
      <%= f.input :state, input_html: {class: 'field'} %>
      <%= f.input :zipcode, input_html: {class: 'field'} %>
      <%= f.input :phone, input_html: {class: 'field'} %>
    

    <h3>Add Children</h3>

    <%= f.simple_fields_for :children do |child| %>
      <%= render 'child_fields', f: child %>
      <div class="links">
        <p><%= link_to_add_association 'add child', f, :children %></p>
      </div> 
    <% end %>

    <div class="actions">
        <%= f.submit %>
    </div>
  </div>
<% end %>
