<%= simple_form_for @parent do |f| %>
<%= render 'errors' %>

  <div class="field">
    <%= f.input :first_name %>
  </div>
  <div class="field">
    <%= f.input :last_name %>
  </div>
  <div class="field">
    <%= f.input :address %>
  </div>
  <div class="field">
    <%= f.input :phone %>
  </div>

  <h3>Add Child</h3>

  <%= f.simple_fields_for :children do |child| %>
    <%= render 'child_fields', f: child %>
    <div class="links">
      <%= link_to_add_association 'add child', f, :children %>
    </div> 
  <% end %>

  <div class="actions">
      <%= f.submit %>
  </div>

<% end %>
