<div class='well well-lg'>
  <%= simple_form_for @parent do |f| %>
  <%= render 'errors' %>
    <div class="form-group center_div">
      <p><%= f.input :case_number, :placeholder => "Case Number" %></p>
      <p><%= f.input :first_name, :placeholder => "First Name" %></p>
      <p><%= f.input :middle_name, :placeholder => "Middle Name" %></p>
      <p><%= f.input :last_name, :placeholder => "Last Name" %></p>
      <p><%= f.input :address, :placeholder => "Address" %></p>
      <p><%= f.input :city, :placeholder => "City" %></p>
      <p><%= f.input :state, :placeholder => "State" %></p>
      <p><%= f.input :zipcode, :placeholder => "ZipCode" %></p>
      <p><%= f.input :phone, :placeholder => "Phone" %></p>
      <p><%= f.input :email, :placeholder => "Email" %></p>
      
      <%= f.simple_fields_for :children do |child| %>
        <%= render 'child_fields', f: child %>
        <div class="links">
          <p><%= link_to_add_association 'add child', f, :children %></p>
        </div> 
      <% end %>
      <%= f.submit 'Submit',  :class => 'btn btn-primary' %> |
      <%= link_to 'Back', @parent, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
