<h1>Listing parents</h1>
<div class="table-responsive">
  <table class="table table-striped schedule">
    <thead>
      <tr class="info">
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>city</th>
        <th>State</th>
        <th>Zip-Code</th>
        <th>Phone</th>
      </tr>
    </thead>

    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td ><%= link_to parent.first_name, parent %></td>
          <td><%= link_to parent.last_name, parent %></td>
          <td><%= parent.address %></td>
          <td><%= parent.city %></td>
          <td><%= parent.state %></td>
          <td><%= parent.zipcode %></td>
          <td><%= number_to_phone(parent.phone, area_code: true) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

