<h4>Family Information</h4>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="info">
        <th>Case Number</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>city</th>
        <th>State</th>
        <th>Zip-Code</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <td><%= best_in_place @parent, :case_number, :type => :input %></td>
          <td><%= best_in_place @parent, :first_name, :type => :input %></td>
          <td><%= best_in_place @parent, :middle_name, :type => :input %></td>
          <td><%= best_in_place @parent, :last_name, :type => :input %></td>
          <td><%= best_in_place @parent, :address, :type => :input %></td>
          <td><%= best_in_place @parent, :city, :type => :input %></td>
          <td><%= best_in_place @parent, :state, :type => :input %></td>
          <td><%= best_in_place @parent, :zipcode, type: :input %></td>
          <td><%= best_in_place @parent, :phone, type: :input %></td>
          <td><%= best_in_place @parent, :email, type: :input %></td>
        </tr>
     
    </tbody>
  </table>
</div>

<h4>Children</h4>

  <div class="table-responsive">
    <table class="table table-striped schedule">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Birthday</th>
          <th>Schedule</th>
        </tr>
      </thead>
      <tbody>
        <% @parent.children.each do |child| %>
          <tr>
            <td><%= link_to child_full_name(child), child_path(child) %></td>
            <td><%= child.birthday %></td>
          
          <% child.schedules.each do |schedule| %>
            <td><%= schedule.name %></td>
          <% end %>
        <% end %>
        </tr>
        </tbody>
    </table>
  </div>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %> |
<%= link_to 'Destroy', @parent, method: :delete, data: { confirm: 'Are you sure?' } %>
