<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parent.phone %>
</p>

<ul>
<% @parent.children.each do |child| %>
  <li><%= child_full_name(child) %></li>
  <% child.days.each do |day| %>
    <li><%= day.monday %><li>
  <% end %>
<% end %>
</ul>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
