<h4>Family Information</h4>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="info">
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>city</th>
        <th>State</th>
        <th>Zip-Code</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <td ><%= @parent.first_name %></td>
          <td><%= @parent.last_name %></td>
          <td><%= @parent.address %></td>
          <td><%= @parent.city %></td>
          <td><%= @parent.state %></td>
          <td><%= @parent.zipcode %></td>
          <td><%= number_to_phone(@parent.phone, area_code: true) %></td>
        </tr>
     
    </tbody>
  </table>
</div>

<h4>Children</h4>
<div class="panel panel-default ">
  <div class="panel-heading">
    <div clas= "panel-body">
  <div class="list-group">
    <% @parent.children.each do |child| %>
      <div class="list-group-item">
        <h4><%= link_to child_full_name(child), child_path(child) %></h4>
      
      <% child.schedules.each do |schedule| %>
        <%= schedule.name %>
      <% end %>
      </div>
    <% end %>
  </div>
  <div>
</div>
</div>

 



<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %> |
<%= link_to 'Destroy', @parent, method: :delete, data: { confirm: 'Are you sure?' } %>
