<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parent.phone %>
</p>


<% @parent.children.each do |child| %>
  <p><%= child_full_name(child) %></p>
  <p><%= child.birthday %></p>
  <p><%= child.mon %><p>
  <p><%= child.tue %><p>
  <p><%= child.wed %><p>
  <p><%= child.thu %><p>
  <p><%= child.fri %><p>
  <p><%= child.sat %><p>
  <p><%= child.sun %><p>
<% end %>



<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
