<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@parent.phone, area_code: true) %>
</p>

<ol>
<% @parent.children.each do |child| %>
  <li><%= link_to child_full_name(child), child_path(child) %></li>
  <% child.schedules.each do |schedule| %>
    <p><%= schedule.name %></p>
  <% end %>
<% end %>
</ol>



<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %> |
<%= link_to 'Destroy', @parent, method: :delete, data: { confirm: 'Are you sure?' } %>
