<%= simple_form_for([@child, @attendance]) do |f| %>
  <%= f.error_notification %>

  <div class="center_div">
    <p><%= f.time_select :time_in %></p></b>
    <p><%= f.time_select :time_out %></p>
    <%= f.input_field :date, :as => :datepicker, :placeholder => 'Date' %>
    <%= f.submit 'Submit',  :class => 'btn btn-primary' %>
  </div>
<% end %>

