<%= simple_form_for([@child, @attendance]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <p><%= f.time_select :time_in %></p></b>
    <p><%= f.time_select :time_out %></p>
    <%= f.date_select :date %>
    <%= f.input :time_zone, priority: /US/ %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

