<p id="notice"><%= notice %></p>

<p>
  <strong>Time in:</strong>
  <%= (@attendance.time_in).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Time out:</strong>
  <%= (@attendance.time_out).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Child:</strong>
  <%= @attendance.child_id %>
</p>
<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |

